body{
  font-family: 'Combo', cursive;
  margin-top: 185px;
  text-align: center;
}
button{
  font-family: 'Combo', cursive;
  text-align: center;
  cursor: pointer;
  border: 1px solid;
  background-color: transparent;
  height: 50px;
  width: 350px;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
#col{
 text-align: center;
 margin-top: 10px;
}
#hex{
  margin-left: 455px;
  border: 0px solid;
  background-color: black;
  color: white;
  height: 34px;
  width: 100px;
  font-size: 24px;
}
#rgb{
  margin-top: -34px;
  margin-left: 565px;
  border: 0px solid;
  background-color: black;
  color: white;
  height: 34px;
  width: 240px;
  font-size: 24px;
}
#ga{
  margin-top: 10px;
}
@media screen and (max-width:450px){
  body{
    text-align: center;
    margin-top: 256px;
  }
 #hex{
  margin-left: 5px;
  border: 0px solid;
  background-color: black;
  color: white;
  height: 34px;
  width: 100px;
  font-size: 24px;
}
#rgb{
  margin-top: -34px;
  margin-left: 105px;
  border: 0px solid;
  background-color: black;
  color: white;
  height: 34px;
  width: 240px;
  font-size: 24px;
}
}